 flexContainer {
        border: 1px solid red;
        display: flex;
        height: 30vh;
        justify-content: center;
         align-item: center;
        gap: 10 px;
        /*flex-direction: column-reverse;
        justify-content:flex-end;
        align-items:center;*/
        /* short cut for flex direction and flex wrap : flex-flow : column,wrap; */
        
        flex-wrap: wrap;
        /* the other items are come in second row automaticalyy / / default value will be no wrap */
        /* wrap-reverse is for the items the items come from bottom */
        /* align-content will reduce the gap between the one row item and another item */
    }

    /*values of justify content 
flex-start ,center, space-around
space-between,space-evenly */
    .flexItem {
        background-color: yellow;
        border:2px solid red;
        color: red;
        font-size: 24px;
        width: 80px;
        height: 60px;

        /*Values of flex direction
    row,row-reverse,colum,colum-reverse*/

    }
    .flexItem:nth-child(1) {
        order: 1;
        align-self: center;
    }
    .flexItem:nth-child(6) {

    }
