.gridContainer{
            border:1px solid red;
            height:90vh;
            display:grid;
            /*grid-template-columnsd:100px 200px 300px 400px;
            grid-template-rows:100px 100px;*/
            /* grid-template-columns:200px 200px 200px 20px; */
            grid-template-colums:100px repeat(4,200px);
            /*grid-template-columns:repeat(4,1fr);*/
            grid-template-rows:100px 100px;
            /*row-gap:10px;
            column-gap: 10px;*/
             gap:10px;
            justify-content: center;
        }
.item {
    color: red;
    border: 1px solid;
    background-color: yellow;
    padding:30px 40px;
}