.container {
    width: 30vw;
    height:30vh;
    border: 2px solid red:
}
h1 {
    background-color: yellow;
    font-family: 700;
    color: red;
}
.sticky {
    position: sticky;
    top : 20px;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: 20px;
    right: 30px;
}
.fixed {
    position:fixed;
    bottom: 20px;
    right: 30px;
}