/* 1.Universal selector */
* {
    /* border : 1px solid red; */
}
/* tag selector */
h1{
    background-color:green;
}
/* id selector */
 #a{
    color: red;
    background-color: yellow;
 }
 /* class selector . */
 .b {
    /* color: blue; */
    border: 10px solid;
 }
 /* Group Selector . */

 h1,
 h2 {
    color:blueviolet;
 }
 /* descendant selector */
 div p {
    color:red;
    background: yellow;
 }

 /* child selector */
 div > p {
    color: green;
    background-color: blue;
 }
 /* attribute selector */
 button[type="submit"] {
    color:red;
    font-size: 32px;
 }
 /* pseudo classes */
 li:nth-child(2) {
    color:red;
    font-size: 24px;
 }
 li:hover {
    color:yellow;
    background-color: red;
    font-size: 38px;
 }
/* pseudo elements */
#r1:before {
    content: "written by css";
}
.b::first-letter {
    font-size: 48px;
    color:red;
}
#q {
    display:block;
}
#q::first-letter {
    font-size: 48px;
    color: red;
}
#q::first-line {
    color:yellow;
    font-size: 12px;
}
#q {
    display: block;
}
* {
    padding: 0;
    margin: 0;
}
/* box mode; */
h1:nth-child(1) {
    border: 3px solid red;
    /*padding: 30px;*/
    /*padding: 10px,20px,40px,60px; */  /*top,bottom,right,left */
    /* padding:20px,40px; */
    /*margin: : 30px; */
}